body {
  margin: 0;
  background-color: #d9dbe7;
  font-family: Arial;
  }


a {
  text-decoration: none;
  color: white;
  padding: 1%;
}


div.firstblock {
  font-size: 20px;
  text-align: center;
  background-color: #24292e;
  height: 20px;
  padding: 35px;
}

div.secondblock {
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 40px;
  border: 1px solid green;
  border-radius: 15px;
  height: 900px;
  padding-left: 20px;
}

div.thirdblock {
  display: inline-block;
  margin: 2%;
  border: 1px solid darkgrey;
  border-radius: 15px;
  height: 780px;
  width: 60%;
}

div.forthblock {
  padding: 0.5%;
  display: inline-block;
  margin: 2%;
  border-radius: 15px;
  height: 880px;
  width: 30%;
  text-align: center;
  float: right;
}

img.mypicture {
  border-radius: 10px;
  text-align: center;
  height: 50%;
  width: 85%;
  margin: 5%;

}

a.aeditprofile {
  display: inline-block;
  font-size: 25px;
  width: 85%;
  height: 40px;
  background-color: #f6972a;
  border-radius: 20px;
  padding-top: 10px;

}

a.avk {
  margin-top: 10px;
  display: inline-block;
  font-size: 25px;
  width: 85%;
  height: 40px;
  background-color: #6ac5a6;
  border-radius: 20px;
  padding-top: 10px;
}

a.afacebook {
  margin-top: 10px;
  display: inline-block;
  font-size: 25px;
  width: 85%;
  height: 40px;
  background-color: #28686c;
  border-radius: 20px;
  padding-top: 10px;
}

a.ainstagram {
  margin-top: 10px;
  display: inline-block;
  font-size: 25px;
  width: 85%;
  height: 40px;
  background-color: #bb4f0c;
  border-radius: 20px;
  padding-top: 10px;
}

div.shortdescription, div.firstpost {
  padding: 2%;
}

#more {
  display: none;
}
