body {
  margin: 0;
  background: url(mountaibg.jpg);
  background-position: 50% 50%;
  background-attachment:fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Superpuper;
  background-color: rgba(9, 20, 11, 1);

  }

  @font-face {
    font-family: Superpuper; /* Гарнитура шрифта */
    src: url(17661.otf); /* Путь к файлу со шрифтом */
   }


a, h1, h2, h3, h4, h5, p, button {
  text-decoration: none;
  color: white;
  padding: 1%;
  font-size: 160%;
  font-family: Superpuper;
}

h3 {
  text-decoration: underline;
}


div.firstblock {
  font-size: 20px;
  text-align: center;
  background-color: rgba(10, 24, 13, 0.9);
  height: 20px;
  padding: 35px
}

div.secondblock {
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  padding-top: 40px;
  border: 1px solid black;
  border-radius: 15px;
  height: 90%;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

div.thirdblock {
  display: inline-block;
  margin: 2%;
  border-radius: 15px;
  height: 1060px;
  width: 60%;
}

div.forthblock {
  padding: 0.5%;
  display: inline-block;
  margin: 2%;
  border-radius: 15px;
  height: 880px;
  width: 30%;
  text-align: center;
  float: right;
}

img.mypicture {
  border-radius: 10px;
  text-align: center;
  height: 60%;
  width: 88%;
  margin: 5%;

}

a.aeditprofile {
  display: inline-block;
  font-size: 25px;
  width: 85%;
  height: 40px;
  background-color: #f6972a;
  border-radius: 20px;
  padding-top: 10px;

}

a.avk {
  margin-top: 10px;
  display: inline-block;
  font-size: 25px;
  width: 85%;
  height: 40px;
  background-color: #49a6bb;
  border-radius: 20px;
  padding-top: 10px;
}

a.afacebook {
  margin-top: 10px;
  display: inline-block;
  font-size: 25px;
  width: 85%;
  height: 40px;
  background-color: #28686c;
  border-radius: 20px;
  padding-top: 10px;
}

a.ainstagram {
  margin-top: 10px;
  display: inline-block;
  font-size: 25px;
  width: 85%;
  height: 40px;
  background-color: #bb4f0c;
  border-radius: 20px;
  padding-top: 10px;
}

div.shortdescription, div.firstpost, div.secondpost {
  padding: 2%;
}

#more, #more2 {
  display: none;

}

#btn, #btn2 {
border: 1px solid #28686c;
float: right;
decoration: none;
background: #28686c;
color: white;
border-radius: 5px;
cursor: pointer;
}

div.video {
  display: inline-block;
  padding: 7%;
}
